vue/node_modules
vue/dist
release/
build/
.idea/
.vscode/
.DS_Store

dist/

/.act-event-file

scripts/testnet/config.sh
scripts/testnet/nodes
scripts/testnet/artifacts

# Ignore the env file one may actually fill out
seda.env
.env
.netrc

# coverage files
coverage.txt