version: 1

genesis:
  app_state:
    staking:
      params:
        bond_denom: "aseda"

accounts:
- name: alice
  coins:
  - 200000000seda
- name: bob
  coins:
  - 100000000seda
client:
  openapi:
    path: docs/static/openapi.yml
faucet:
  name: bob
  coins:
  - 100000seda
validators:
- name: alice
  bonded: 1000000seda
