name: Gosec

on:
  pull_request:

permissions:
  contents: read
  repository-projects: read
  packages: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Checkout Source
        uses: actions/checkout@v5
      - name: Run Gosec Security Scanner
        uses: informalsystems/gosec@master
        with:
          args: -exclude-dir=cmd,tools ./...
