name: Lint

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    tags:
      - v*
    branches:
      - main

permissions:
  contents: read
  repository-projects: read
  packages: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  golangci:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21.3
          check-latest: true
      - uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --timeout 10m --tests=false --skip-dirs="e2e"
          skip-pkg-cache: true

  protobuf:
    runs-on: ubuntu-latest
    env:
      GOPRIVATE: github.com/sedaprotocol/vrf-go
      GITHUB_TOKEN: ${{ secrets.PAT }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Buf
        uses: bufbuild/buf-setup-action@v1.26.1
      - name: Lint Proto
        run: make proto-lint
      - name: clang-format Check
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: 17
          check: true
          diff: true
          extensions: .proto
          path: proto
          style: file
