name: Lint

on:
  pull_request:

permissions:
  contents: read
  repository-projects: read
  packages: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  golangci:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.21.6
          check-latest: true
      - uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --timeout 10m --tests=false --exclude-dirs="e2e"
          skip-pkg-cache: true

  protobuf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Buf
        uses: bufbuild/buf-setup-action@v1.26.1
      - name: Lint Proto
        run: make proto-lint
      - name: clang-format Check
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: 17
          check: true
          diff: true
          extensions: .proto
          path: proto
          style: file
