name: Simulation
#  Simulation workflow runs simulation test
#  This workflow is run on pushes to master & every Pull Requests where a .go, .mod, .sum have been changed
on:
  pull_request:

env:
  GO_VERSION: "1.24"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true
          cache-dependency-path: go.sum
      - name: Get git diff
        uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**!(test).go
            go.mod
            go.sum
            Makefile

      - name: Run determinism check simulation
        run: |
          make test-sim-determinism
        if: env.GIT_DIFF

      - name: Run export-import simulation
        run: |
          make test-sim-export-import
        if: env.GIT_DIFF

      - name: Run after-import simulation
        run: |
          make test-sim-after-import
        if: env.GIT_DIFF
