name: Tests

on:
  pull_request:
    push:
      branches:
        - main

env:
  GO_VERSION: "1.21.0"
  GOPRIVATE: github.com/sedaprotocol/vrf-go
  GITHUB_TOKEN: ${{ secrets.PAT }}

permissions:
  contents: read
  repository-projects: read
  packages: read

concurrency:
  group: ci-${{ github.ref }}-tests
  cancel-in-progress: true

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true
          cache-dependency-path: go.sum
      - run: git config --global url.https://${GITHUB_TOKEN}@github.com/.insteadOf https://github.com/
      - name: Test & coverage report creation
        run: make test-unit-cover
      - uses: actions/upload-artifact@v3
        with:
          name: "${{ github.sha }}-${{ matrix.part }}-coverage"
          path: ./${{ matrix.part }}profile.out
